name: "Checkov Repository Workflow"

on:
  pull_request:
    branches:
      - test
      - dev
      - qa
      - prod
  push:
    branches:
      - test
      - dev
      - qa
      - prod

jobs:
  main:
    name: checkov-repository-job
    uses: honestbank/workflows/.github/workflows/checkov.yaml@main
    secrets: inherit
