name: "repository-shiftleft-terraform"
permissions: read-all

on:
  pull_request:
    branches:
      - main

  schedule:
    # * is a special character in YAML so you have to quote this string
    # schedule a job to run every day at 17:30 UTC
    - cron: "30 17 * * *"

jobs:
  main:
    name: repository-shiftleft-terraform
    uses: honestbank/workflows/.github/workflows/terraform-shiftleft.yaml@main
    with:
      repo_name: ${{ github.event.repository.name }}
    secrets: inherit
