name: repository-terratest
permissions: read-all
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

env:
  TERRATEST_CONFLUENT_CLOUD_SEED_KEY: ${{ secrets.TERRATEST_CONFLUENT_CLOUD_SEED_KEY }}
  TERRATEST_CONFLUENT_CLOUD_SEED_SECRET: ${{ secrets.TERRATEST_CONFLUENT_CLOUD_SEED_SECRET }}
  TERRATEST_CONFLUENT_CLOUD_EMAIL: ${{ secrets.TERRATEST_CONFLUENT_CLOUD_EMAIL }}
  TERRATEST_CONFLUENT_CLOUD_PASSWORD: ${{ secrets.TERRATEST_CONFLUENT_CLOUD_PASSWORD }}
  TERRATEST_GOOGLE_CREDENTIALS_STORAGE: ${{ secrets.TERRATEST_GOOGLE_CREDENTIALS_STORAGE }}
  TERRATEST_GOOGLE_PROJECT_STORAGE: ${{ secrets.TERRATEST_GOOGLE_PROJECT_STORAGE }}

jobs:
  repository-terratest:
    name: repository-terratest
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Set up Go (1.18)
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
        id: go
      - name: Run terratest
        run: |
          cd test
          go test -v -timeout 60m
      - name: Release
        if: github.event_name == 'push'
        uses: cycjimmy/semantic-release-action@v3
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          extra_plugins: |
            @semantic-release/git@10.0.1
            @semantic-release/exec@6.0.3
            @semantic-release/changelog@6.0.1
