name: "Shiftleft (Terraform) Repository Workflow"

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  main:
    name: shiftleft-terraform-repository-job
    uses: honestbank/workflows/.github/workflows/terraform-shiftleft.yaml@main
    with:
      repo_name: ${{ github.event.repository.name }}
    secrets: inherit
